.nav{
    width: 100%;
    height: 125px;
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
}
.outerDiv{
    width: 100%;
    min-height: 1009px;
    margin: 0px;
    background-color:#412468;
}
.formDiv{
    box-sizing: border-box;
    padding-top: 50px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorsDiv{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.errors{
    color: #FB717E;
    font-weight: bold;
}
.input{
    width: 330px;
    height: 56px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 40px;
}
.email{
    margin-top: 20px;
    margin-bottom: 20px;
}
.userName{
    margin-top: 20px;
    margin-bottom: 20px;
}
.label{
   font-size: 16px;
   color: #FFFFFF;
}

.password{
    margin-bottom: 30px;
}
.button{
    width: 330px;
    height: 56px;
    background-color: #916AB9;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.button:hover{
    background-color: #724e95;
}
.signUpDiv, .demoUserDiv, .askAccountDiv, .errorSmallDiv{
    width: 330px;
    display: flex;
    justify-content: center;
}
.title{
    font-size: 24px;
    font-weight: bold;
    color:#FFFFFF;
}
.title2{
    font-size: 20px;
    font-weight: bold;
    color:#FFFFFF;
}
.demoUser{
    font-size: 16px;
    font-weight: bold;
    color:#FFFFFF;
    margin-top: 20px;
}
.askAccount{
    font-size: 16px;
    color:#FFFFFF;
    margin-top: 10px;
}
.askAccount2{
    font-size: 16px;
    color:#FFFFFF;
    margin-top: 20px;
}

.askAccount3{
    font-size: 16px;
    color:#FFFFFF;
    margin-top: 5px;
}

.logIn{
    margin-left: 10px;
    font-weight: bold;
}
.emailIcon{
    position: absolute;
    top: 15px;
    left: 10px;
    size: 50px;
}
.passwordIcon{
    position: absolute;
    top: 15px;
    left: 10px;
    size: 50px;
}
.userNameIcon{
    position: absolute;
    top: 15px;
    left: 10px;
    size: 50px;
}
.iconParentDiv{
    position: relative;
}
.label{
    margin-bottom: 5px;
}
@media only screen and (max-width: 860px) {
    .outerDiv{
        width: 100%;
        height: 1860px;
        margin: 0px;
        background-color:#412468;
    }
}
