.jobCardOuterDiv{
    position: relative;
    display: flex;
    width: 20rem;
    /* min-height: 7.4rem; */
    height: max-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.43);
    border-radius: 0.6rem;
    margin-top: 2rem;
    padding-bottom: 1rem;

}
.contentDiv{

    box-sizing: border-box;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}
.buttons{
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2rem;
}
.logoDiv{
    box-sizing: border-box;
    padding-top: 1rem;
    padding-left: 1rem;
}
.appliedLogo{

    width: 1.92rem;
    height: 1.92rem;
    background-color:#916AB9 ;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.interviewedLogo{

    width: 1.92rem;
    height: 1.92rem;
    background-color:#61A5EF ;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.offeredLogo{

    width: 1.92rem;
    height: 1.92rem;
    background-color:#87D390 ;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rejectedLogo{

    width: 1.92rem;
    height: 1.92rem;
    background-color:#FFCB00 ;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logoText{
    font-size: 0.6rem;
    color:#FFFFFF;
}
.positionTitle{
    font-size: 0.96rem;
    font-weight: bold;
    width: 10rem;
    word-break: break-all;
}

.companyName{
    font-size: 0.84rem;
    width: 10rem;
    word-break: break-all;
}
.date{
    font-size: 0.72rem;
    color:#99879D;
}
.positionTitle, .companyName, .date{
    box-sizing: border-box;
    margin-bottom: 0.5rem;

}
.deleteButton{
    margin-left: 0.5rem;
    color:#A0A3BD ;
}
.editButton{
    color:#A0A3BD ;
}
/* ----------------------blew are css for JobInfoFormModal------------------------------------ */
.calendar_div > *{
    width: 21rem;

}
.calendar_outerDiv{
    position: relative;
}
.calendarInputIcon{
    position: absolute;
    top:0rem;
    right: 19rem;
    color: #666666;

}

.input{
    /* border-radius: 8px; */
    /* text-indent: 2.5rem; */
    padding-left: 2.5rem;
    box-sizing: border-box;
    width: 20.5rem;
    height: 3rem ;
    margin-bottom: 10px;
    /* border: 1px solid #C4C4C4; */
    color: #666666;
    overflow:hidden ;
    word-break: break-all;


}
.input2{
    /* padding-left: 2.5rem;
    box-sizing: border-box; */
    /* border-radius: 8px; */
    /* text-indent: 0.5rem; */
    width: 20.5rem;
    height: 3rem ;
    margin-bottom: 5px;
    /* border: 1px solid #C4C4C4; */
    color: #666666;
    overflow:hidden ;
    word-break: break-all;


}
.input3{
    /* padding-left: 2.5rem;
    box-sizing: border-box; */
    /* border-radius: 8px; */
    text-indent: 0.5rem;
    width: 20.5rem;
    height: 3rem ;
    margin-bottom: 5px;
    /* border: 1px solid #C4C4C4; */
    color: #666666;
    overflow:hidden ;
    word-break: break-all;


}

.input:focus, input2:focus, .input3:focus {
    outline: none !important;
    border:1px solid #666666;
    box-shadow: 0 0 10px #719ECE;
  }


.calendar_input::placeholder{
    color: #666666;
}
.header{
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 78px;
    background-color: #412468;

}
.formTitle{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}
.outerDiv{
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label{
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.body{
    box-sizing: border-box;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label_container{
    margin:0;
}
.inputDiv {
    padding: 0px;
    margin:0px;
    position: relative;
}
.inputIcon{
    position: absolute;
    top:0rem;
    right:19rem;
    color: #666666;
}
.inputIcon2{
    position: absolute;
    top:0rem;
    right: 19rem;
    color: #666666;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}
.button{
    margin-top: 1rem;
    width: 325px;
    height: 56px;
    background-color: #916AB9;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border:none;

}
.button:hover{
    background-color: #7d5aa0;
}
.form{
    width: 100%;
    height: 100%;
}
.bodyLeftPart{
    padding-right: 2rem;

}

.NoteOuterDiv{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3.7rem;

}
