.NavLink{
    text-decoration: none;
    color: #FFFFFF;
    word-break: break-all;

}
.NavLink:hover{
    text-decoration: none;
    color: #FFCB00;
}
.input{
    color: #FFFFFF;
}
.originNameDiv{
    display: flex;
    flex-wrap: wrap;
}
